<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title><!= book.title !></title>
   </head>
   <body>
      <h1><%= book.title %></h1>
      <p>Auteur : <%= book.author %></p>
      <a href="/books">Retour</a>
   </body>
</html>
