<footer
   class="p-5 shadow shadow-[#FF7040] flex flex-col justify-center items-center gap-5">
   <a href="/" id="logo"><img src="/images/logo.png" alt="logo" /></a>
   <p class="font-bold text-2xl text-[#30D5C8]">
      Tout les droits reservee par
      <span class="text-[#FF7040]">@nutri_track</span>
   </p>
</footer>
