<header
   id="header"
   class="fixed top-0 left-0 right-0 z-50 bg-gray-900/80 backdrop-blur-md border-b border-gray-800">
   <nav
      id="navbar"
      class="max-w-7xl mx-auto flex justify-between items-center gap-4 sm:gap-8 md:gap-12 px-6 py-4 font-semibold">
      <a href="/" id="logo" class="flex items-center gap-2">
         <img src="/images/logo.png" alt="logo" class="h-10" />
      </a>

      <div class="hidden md:flex items-center gap-8">
         <a
            id="dashboardBtn"
            href="/dashboard"
            class="text-gray-300 hover:text-[#FF7040] transition-colors"
            >Dashboard</a
         >
         <a
            id="recommendationsBtn"
            href="/recommendations"
            class="text-gray-300 hover:text-[#30D5C8] transition-colors"
            >Recommendations</a
         >
         <a
            id="addMealBtn"
            href="/meals/upload"
            class="text-gray-300 hover:text-[#FF7040] transition-colors"
            >Ajout de repas</a
         >
           <a
            id="historique"
            href="/historique"
            class="text-gray-300 hover:text-[#FF7040] transition-colors"
            >Historique</a
         >
      </div>

    <a
  href="/profile"
  id="profil"
  class="w-12 h-12 flex justify-center items-center rounded-full bg-gradient-to-r from-[#FF7040] to-[#FF5820] font-bold text-white hover:shadow-lg hover:shadow-[#FF7040]/50 transition-all"
>
  
</a>

      <a
         href="/login"
         class="text-gray-300 hover:text-[#FF7040] transition-colors"
         id="connection"
         >Se connecter</a
      >
   </nav>

   <script>
      async function Permission() {
         const btn = document.getElementById('connection');

         const response = await fetch('/isAuth');
         const data = await response.json();

         // bouton principal
         btn.style.display = data.auth ? 'none' : 'block';

         // boutons de navigation
         const btnNavIds = [
            'dashboardBtn',
            'addMealBtn',
            'recommendationsBtn',
            'profil',
            'historique'
         ];

         btnNavIds.forEach(id => {
            const navBtn = document.getElementById(id);
            if (navBtn) {
               navBtn.style.display = data.auth ? 'block' : 'none';
            }
         });
      }

      Permission();
   </script>
</header>
