<header id="header">
   <nav
      id="navbar"
      class="flex justify-between items-center gap-4 sm:gap-8 md:gap-12 lg:gap-20 px-2.5 py-1 font-semibold text-nowrap shadow shadow-orange-300">
      <a href="/" id="logo" class="mr-auto"
         ><img src="/images/logo.png" alt="logo"
      /></a>
      <a href="/dashboard" class="">Dashboard</a>
      <a href="/recommendations">Recommendations</a>
      <a href="/add-meal">Ajout de repas</a>
      <a
         href="/profile"
         class="ml-auto min-w-12 min-h-12 rounded-full bg-[#FF7040] leading-0 flex justify-center items-center font-bold text"
         >i</a
      >
   </nav>
</header>
