<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>NutriTrack - Votre plan nutritionnel personnalisé par l'IA</title>
      <link rel="stylesheet" href="/css/output.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   </head>

   <body class="flex flex-col min-h-screen bg-gray-900 text-white">
      <%- include('../partials/header.ejs') %>
      <main class="flex-1 pt-16"><%- body %></main>

      <%- include('../partials/footer.ejs') %>
   </body>
</html>
