<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="/css/output.css" />
   </head>
   <body class="flex flex-col min-h-screen">
      <%- include('../partials/header.ejs') %>
      <main class="flex-1"><%- body %></main>

      <%- include('../partials/footer.ejs') %>
   </body>
</html>
