<h1 class="text-4xl mb-8 text-center">recommandation pour vous</h1>
<div class="container p-2 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
   <div class="card shadow-md rounded-lg">
      <div class="card_image mb-8">
         <img
            src="/images/meal_placeholder.png"
            alt="meal placeholder"
            class="w-full" />
      </div>
      <h2 class="text-[#FF7040] mb-5 px-1 py-2">
         Salade de quinoa, avocat, tomates cerises et poulet grillé
      </h2>
      <div class="description text-sm mb-8">
         <h3 class="">Apports estimés :</h3>
         <p class="">
            600 kcal, riche en protéines et fibres, faible en graisses saturées
         </p>
      </div>
   </div>
</div>
